node {
	text-padding: 20px, 20px;
}

sprite {
	fill-mode: image-scaled; 
	fill-image: url("../img/host.png");
}

node.switch {
	text-mode: normal; 
	padding: 0px, 20px, 0px;
	shape: box;
	/*shape: box; */
	text-alignment: center;
	size: 30px;
	fill-mode: image-scaled; 
	fill-image: url("img/ovs.png");
	
}

node.switchUnavailable{
	text-mode: normal; 
	shape: box;
	padding: 30px, 20px, 30px;
	size: 30px;
	shape: box; 
	fill-color: rgb(255,100,100); 

}

node.host{
	text-mode: normal; 
	text-alignment: center;
	padding: 0px, 20px, 0px;
	shape: box;
	size: 30px;
	fill-mode: image-scaled; 
	fill-image: url("img/host.png");
}

node.switch:hover{
	text-mode: normal; 
	padding: 30px, 30px, 30px;
	shape: box;
	size: 20px, 20px;
	shape: box; 
	fill-color: rgb(255,100,100); 
}

edge{
	padding:10px, 10px, 10px;
	text-size: 8;
}