node {
	text-padding: 20px, 20px;
}

sprite {
	fill-mode: image-scaled; 
	fill-image: url("../img/host.png");
}

node.switch {
	text-mode: normal; 
	padding: 0px, 20px, 0px;
	shape: box;
	/*shape: box; */
	text-alignment: center;
	size: 25px;
	fill-mode: image-scaled; 
	fill-image: url("img/ovs.png");
        text-style: bold;
}

node.switchUnavailable{
	text-mode: normal; 
	shape: box;
	padding: 30px, 20px, 30px;
	size: 25px;
	shape: box; 
	fill-color: rgb(255,100,100); 
        text-style: bold;
}

node.host{
	text-mode: normal; 
	text-alignment: center;
	padding: 0px, 20px, 0px;
	shape: box;
	size: 25px;
	fill-mode: image-scaled; 
	fill-image: url("img/host.png");
        text-style: bold-italic;
}

node.switch:clicked{
	padding: 30px, 20px, 30px;
	shape: box;
	size: 20px, 20px;
	shape: box; 
	fill-color: rgb(100,100,200); 
}

edge{
	padding:10px, 10px, 10px;
	text-size: 8;
        text-style: italic;
        text-mode: truncated;
}

edge:clicked{
    padding:10px, 10px, 10px;
    text-size: 8;
    text-style: italic;
    text-mode: normal;
}